    <section class=" bg-[#F8F9FA] py-16 px-4 md:px-6 relative z-10">
    <div class="w-[93%] mx-auto">
        <div class="flex flex-col md:flex-row md:items-end md:justify-between mb-12 gap-4">
        <div class="space-y-2 text-right">
            <h2 class="font-cairo-regular text-3xl md:text-4xl text-[#0A112D]">
                المسارات الرئيسية للتميز
            </h2>
            <p class="font-cairo-regular text-sm md:text-base text-[#000103]">
                نركز على ثلاث ركائز أساسية تضمن لعملائنا الصدارة في السوق الرقمي.
            </p>
        </div>
        <a href="#" class="font-cairo-bold text-sm text-[#286570] hover:text-[#112535] flex items-center gap-1 transition-colors duration-200 self-start md:self-end">
            عرض جميع الخدمات <span class="text-xs">◀</span>
        </a>
        </div>

        <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 items-stretch">
            
            <div class="bg-white shadow-md rounded-[8px] border-1 border-[#e4e2e5ef] p-8 flex flex-col items-start text-right transition-all duration-300 hover:shadow-xl w-full min-h-[650px]">
                <div class="w-14 h-14 rounded-[12px] bg-[#EDF2F4] flex items-center justify-center mb-6">
                    <img src="/assets/rocket.png" alt="Rocket" class="w-6 h-6 object-fill"/>
                </div>
                <h3 class="font-cairo-bold text-2xl text-[#1A2B48] mb-3 w-full">مسار حلول الأعمال <br> الرقمية</h3>
                <p class="font-cairo-bold text-md text-[#286570] mb-6 w-full">ابدأ مشروعك الرقمي في 7 أيام</p>
                
                <span class="font-cairo-bold text-sm text-[#1A2B48] mb-1 w-full">تحديات تواجهك:</span>
                <p class="font-cairo-regular text-sm text-[#44474D] mb-6 w-full leading-relaxed">ضيق الوقت، تشتت الموردين، عدم وضوح النتائج</p>
                
                <div class="w-full text-center mb-19">
                        <ul class="flex flex-col gap-3 w-fit mx-auto">
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_color.png" alt="Check" class="w-4 h-4"/> 
                                <span class="font-cairo-bold text-base text-[#1B1B1E]">تصميم مواقع</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">تسويق رقمي</span>
                            </li>
                        </ul>
                </div>
                
                <a href="#" class="font-cairo-bold text-sm text-[#215D5E] mb-6 hover:underline w-full">استكشف المزيد ←</a>
                <button class="w-full py-5 px-4 border-3 border-[#4295A3] text-[#A2B48] rounded-[4px] font-cairo-semi-bold text-sm hover:bg-[#149397] hover:text-white transition-all duration-200 mt-auto">ابدأ مشروعك الآن</button>
            </div>

            <div class="bg-white shadow-md rounded-[8px] border-1 border-[#e4e2e5ef] p-8 flex flex-col items-start text-right transition-all duration-300 hover:shadow-xl w-full min-h-[650px]">
                <div class="w-14 h-14 rounded-[12px] bg-[#EDF2F4] flex items-center justify-center mb-6">
                    <img src="/assets/school.png" alt="School" class="w-6 h-6 object-fill"/>
                </div>
                <h3 class="font-cairo-bold text-2xl text-[#1A2B48] mb-3 w-full">مسار المؤسسات <br>التعليمية</h3>
                <p class="font-cairo-bold text-md text-[#286570] mb-6 w-full">شريك موثوق لتطوير مؤسستك</p>
                
                <span class="font-cairo-bold text-sm text-[#1A2B48] mb-1 w-full">تحديات تواجهك:</span>
                <p class="font-cairo-regular text-sm text-[#44474D] mb-6 w-full leading-relaxed">ضعف الالتزام، تأخير، غياب الخبرة،
مشاكل تشغيل</p>
                
                <div class="w-full text-center mb-19">
                        <ul class="flex flex-col gap-3 w-fit mx-auto">
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_color.png" alt="Check" class="w-4 h-4"/> 
                                <span class="font-cairo-bold text-base text-[#1B1B1E]">تصميم غرف تفاعلية</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">ألعاب تعليمية</span>
                            </li>
                        </ul>
                </div>
                
                <a href="#" class="font-cairo-bold text-sm text-[#215D5E] mb-6 hover:underline w-full">استكشف المزيد ←</a>
                <button class="w-full py-5 px-4 border-3 border-[#4295A3] text-[#A2B48] rounded-[4px] font-cairo-semi-bold text-sm hover:bg-[#149397] hover:text-white transition-all duration-200 mt-auto">احجز استشارة مجانية</button>
            </div>

            <div class="bg-white shadow-md rounded-[8px] border-1 border-[#e4e2e5ef] p-8 flex flex-col items-start text-right transition-all duration-300 hover:shadow-xl w-full min-h-[650px]">
                <div class="w-14 h-14 rounded-[12px] bg-[#EDF2F4] flex items-center justify-center mb-6">
                    <img src="/assets/student.png" alt="Student" class="w-6 h-6 object-contain"/>
                </div>
                <h3 class="font-cairo-bold text-2xl text-[#1A2B48] mb-3 w-full">المسار الأكاديمي <br> الجامعي</h3>
                <p class="font-cairo-bold text-md text-[#286570] mb-6 w-full">أنجز بحثك بسرعة وبجودة عالية</p>
                
                <span class="font-cairo-bold text-sm text-[#1A2B48] mb-1 w-full">تحديات تواجهك:</span>
                <p class="font-cairo-regular text-sm text-[#44474D] mb-6 w-full leading-relaxed">ضغط المواعيد، خوف من الرفض، ميزانية، كثرة الواجبات</p>
                
                <div class="w-full text-center mb-3">
                        <ul class="flex flex-col gap-3 w-fit mx-auto">
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_color.png" alt="Check" class="w-4 h-4"/> 
                                <span class="font-cairo-bold text-base text-[#1B1B1E]">توجيه بحث علمي</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">تحليل بيانات</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">تدقيق لغوي</span>
                            </li>
                        </ul>
                </div>
                
                <a href="#" class="font-cairo-bold text-sm text-[#215D5E] mb-6 hover:underline w-full">استكشف المزيد ←</a>
                <button class="w-full py-5 px-4 border-3 border-[#4295A3] text-[#A2B48] rounded-[4px] font-cairo-semi-bold text-sm hover:bg-[#149397] hover:text-white transition-all duration-200 mt-auto">أرسل طلبك الآن</button>
            </div>

            <div class="bg-white rounded-[8px] border-4 py-10 px-6 flex flex-col items-start text-right transition-all duration-300 hover:shadow-xl w-full min-h-[650px] border-transparent [background:linear-gradient(to_bottom,#fff,#fff)_padding-box,linear-gradient(180deg,#60BECF_0%,#60BECF_100%)_border-box]" >
                <div class="w-14 h-14 rounded-full [background:linear-gradient(135deg,#1F2643_0%,#59ABBA_100%)] flex items-center justify-center mb-6">
                    <img src="/assets/smile.png" alt="Smile" class="w-6 h-6"/>
                </div>
                <h3 class="font-cairo-bold text-2xl text-[#1A2B48] mb-2 w-full">مسار التعليم المدرسي والأطفال</h3>
                <p class="font-cairo-bold text-md text-[#286570] mb-4 w-full">ساعد طفلك يتفوق بأمان وثقة</p>
                
                <span class="font-cairo-bold text-sm text-[#1A2B48] mb-1 w-full">تحديات تواجهك:</span>
                <p class="font-cairo-regular text-sm text-[#44474D] mb-6 w-full leading-relaxed">خوف من ضعف الفائدة، ملل <br> الطفل، عدم الثقة، ضيق الوقت</p>
                
                <div class="w-full text-center mb-3">
                        <ul class="flex flex-col gap-3">
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_color.png" alt="Check" class="w-4 h-4"/> 
                                <span class="font-cairo-bold text-base text-[#1B1B1E]">دروس تقوية</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">ألعاب تعليمية</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">محتوى ممتع</span>
                            </li>
                            <li class="flex items-center justify-start gap-2">
                                <img src="/assets/check-circle_transparent.png" alt="Check" class="w-4 h-4"/>
                                <span class="font-cairo-regular text-base text-[#44474D]">اختبارات وطنية</span>
                            </li>
                        </ul>
                </div>
                
                <a href="#" class="font-cairo-bold text-sm text-[#215D5E] mb-6 hover:underline w-full">استكشف المزيد ←</a>                
                <button class="w-full py-5 px-4 bg-gradient-to-r from-[#1A2B48] to-[#0DBBDA] text-white rounded-[4px] font-cairo-bold text-sm hover:opacity-90 transition-all duration-300 mt-auto shadow-md">
                    جرّب جلسة مجانية لطفلك
                </button>
            </div>

        </div>
    </div>
</section>